# .streamlit/secrets.toml

[connections]
# Google Apps Script Web App URL
# Uzantılar > Apps Script > Dağıt > Web Uygulaması Olarak Dağıt dedikten sonra verilen URL
webapp_url = "https://script.google.com/macros/s/AKfycbzHYiH8bUbY5wWJGEtHtPruokqfziD6iByxiX3RhxaXoaUsOeRv8ssKMgF-o3LTLtnk/exec"



[passwords]
# Kullanıcı Adı = "Şifre"
Baba = "1903"
Berru = "2013"
Ela = "2017"
